[submodule "scripts/packaging"]
	path = scripts/packaging
	url = https://github.com/hac4us06/kernel_packaging
[submodule "droidian/common_fragments"]
	path = droidian/common_fragments
	url = https://github.com/droidian-devices/common_fragments
